@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";
.users {
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    button {
      padding: 5px;
      cursor: pointer;
      border-radius: 4px;
      background: #f45b69;
      border: #f45b69;
      color: $main-color;
    }
  }
}
